/* Custom Badges */

/* General */
#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background: none !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

/* BurgerIsGooo */
#user-rollover.id-26609840 .badge-box i.bdg,
.id-26609840 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/burgerisgooo.gif");
}

/* DJ HoneyPants */
#user-rollover.id-39639729 .badge-box i.bdg,
.id-39639729 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/Honeypants.jpg");
}
/* Dukc */
#user-rollover.id-8203880 .badge-box i.bdg,
.id-8203880 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/dukc.gif");
}
/* iHook */
#user-rollover.id-26603056 .badge-box i.bdg,
.id-26603056 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/ihook.gif");
}

/* Imanolix */
#user-rollover.id-5220843 .badge-box i.bdg,
.id-5220843 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/imanolix.png");
}

/* Jexi */
#user-rollover.id-4110949 .badge-box i.bdg,
.id-4110949 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/jexi.gif");
}

/* Kaspae */
#user-rollover.id-26613571 .badge-box i.bdg,
.id-26613571 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/kaspae.gif");
}

/* Laquett */
#user-rollover.id-4093788 .badge-box i.bdg,
.id-4093788 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/laquett.png");
}

/* Mrcl- */
#user-rollover.id-13585808 .badge-box i.bdg,
.id-13585808 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/mrcl.gif");
}

/* Noms */
#user-rollover.id-4223488 .badge-box i.bdg,
.id-4223488 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/Noms.gif");
}

/* OtterBot */
#user-rollover.id-40333310 .badge-box i.bdg,
.id-40333310 .badge-box i.bdg {
    background-image: url("https://image.ibb.co/b5b7Me/ezgif_com_resize.gif");
    background-size: cover !important;
}

/* PukeJeans */
#user-rollover.id-4734845 .badge-box i.bdg,
.id-4734845 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/PukeJeans.gif");
}

/* Rootz */
#user-rollover.id-40796384 .badge-box i.bdg,
.id-40796384 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/rootz.png");
}

/* Teddy */
#user-rollover.id-3788262 .badge-box i.bdg,
.id-3788262 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/Teddy.gif");
}

/* S4nari */
#user-rollover.id-3828485 .badge-box i.bdg,
.id-3828485 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/s4nari.png");
}

/* xUnique */
#user-rollover.id-17379609 .badge-box i.bdg,
.id-17379609 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/xunique.gif");
}

/* Zuzarc */
#user-rollover.id-34513858 .badge-box i.bdg,
.id-34513858 .badge-box i.bdg {
    background-image: url("https://edm-spot.github.io/badges/zarcas.gif");
}

