/* Custom Badges */

/* General */
#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background:          none !important;
    background-size:     cover !important;
    background-repeat:   no-repeat !important;
    background-position: center center !important;
    width:               100% !important;
    height:              100% !important;
}

/* OtterBot */
#user-rollover.id-40333310 .badge-box i.bdg,
.id-40333310 .badge-box i.bdg {
    background-image: url("https://edmspot.tk/public/images/badges/otterxmas.jpg");
}

.id-40333310 > .badge-box:hover
{
	width: 65px;
	height: 65px;
	transition: 0.4s;
}
